.tile-dark { background-color: #f7f2f0; }
.tile-dark:hover { background-color: #CECAC8; }

.tile-light { background-color: #ffffff; }
.tile-light:hover { background-color: #D5D5D5; }

.tile-selected { background-color: #f3f781; }
.tile-selected:hover { background-color: #CBCE6C; }

.tile-valid { background-color: #2eccfa; }
.tile-valid:hover { background-color: #26AAD0; }

.tile-vuln-capture { background-color: #b404ae; }
.tile-vuln-capture:hover { background-color: #960391; }

.tile-vuln { background-color: #fa5858; }
.tile-vuln:hover { background-color: #D04949; }

.tile-capture { background-color: #2efe64; }
.tile-capture:hover { background-color: #26D453; }

.tile-dark-last-move { background-color: #cecacb; }
.tile-light-last-move { background-color: #d5d5d5; }

@keyframes bad-select {
		from { background-color: red; }
}

.tile-bad-select {
		animation-name: bad-select;
		animation-duration: 0.25s;
}

.rule-col:hover { background-color: #cccccc; }

.join-col {
		background-color: #00d500;
		text-align: center;
		color: white;
		font-weight: bold;
		letter-spacing: 2px;
		cursor: pointer;
}

@keyframes join-col-hover {
		from { background-color: #00d500; }
		to {background-color: #00ff00; }
}
.join-col:hover {
		background-color: #00ff00;
		animation-name: join-col-hover;
		animation-duration: 0.4s;
}

.legend-header {
		background-color: #cccccc;
		cursor: pointer;
		font-weight: bold;
}

.legend-table {
		width: 100%;
}

.black-border {
		border-style: solid;
		border-width: 1px;
		border-color: black;
}

.board-pane {
  table-layout: fixed;
	width: 275px;
	height: 150px;
	text-align: center;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.captures-list {
		list-style-type: none;
}

.legend-color-col {
		width: 35px;
		height: 19px;
}

@media(min-width: 576px) {
		.board-pane {
				width: 300px;
				height: 250px;
				font-size: large;
		}
		.legend-color-col {
				width: 38px;
				height: 31px;
		}
}

@media(min-width: 768px) {
		.board-pane {
				width: 350px;
				height: 300px;
				font-size: x-large
		}
		.captures {
				font-size: large;
		}
		.legend-color-col {
				width: 44px;
				height: 38px;
		}
}

@media(min-width: 992px) {
		.board-pane {
				width: 450px;
				height: 400px;
				font-size: xx-large;
		}
		.captures {
				font-size: large;
		}
		.legend-color-col {
				width: 56px;
				height: 50px;
		}
}

@media(min-width: 1200px) {
		.board-pane {
				width: 550px;
				height: 475px;
				font-size: xx-large;
		}
		.captures {
				font-size: x-large;
		}
		.legend-color-col {
				width: 69px;
				height: 59px;
		}
}
